<link rel="stylesheet" href="/css/video/agregar.css"><!--/css/capacitacion/agregarcapa.css-->

<!-- crud-->
   <div id="container__iniciar__session">

    <form action="/capacitacion/agregar/{{user.id_usuario}}" method="post">

        <div id="titulo">
            <h3 >Agregar Usuario Capacitaci贸n</h3>
        </div>

        <div id="nombres">
            <label >Nombre de la capacitacion:</label>
            <input type="text" name="nombres" required placeholder="Nombre de la capacitaci贸n" />
        </div>

        <div id="descripcion">
            <label >Descripci贸n:</label>
            <input type="text" name="descripcion" required placeholder="ingrese la debida descripci贸n" />
        </div>
       
        <div id="estado">
            <label >Estado de la Capacitacion:</label>
            <input type="text" name="estado" required placeholder="ingrese el estado de la capacitacion" />
        </div>

        <div id="boton">
            <button type="submit" id="">Guardar</button>
        </div>

    </form>

