<link rel="stylesheet" href="/css/video/editar.css"> <!--/css/capacitacion/editarcapa.css-->

<!-- agregar - editar - boton -->

<div id="container">
    {{#each lista}}

    <form action="/capacitacion/editar/{{id_capacitacion}}" method="post">

        <div id="titulo">
            <h3>Actualizar Capacitaci贸n</h3>
        </div>

        <div id="nombres">
            <label>Nombre de la capacitacion:</label>
            <input type="text" name="nombres" value="{{nombres}}" required placeholder="Nombre de la capacitaci贸n" />
        </div>

        <div id="descripcion">
            <label>Descripci贸n:</label>
            <input type="text" name="descripcion" value="{{descripcion}}" required
                placeholder="ingrese la debida descripci贸n" />
        </div>

        <div id="estado">
            <label>Estado de la Capacitacion:</label>
            <input type="text" name="estado"  value="{{estado}}" requierd
             placeholder="ingrese estado actual"/> 
        </div>
        <!-- boton de actualizar -->
        <div id="boton">
            <button type="submit">Actualizar</button>
        </div>

    </form>
    {{/each }}
</div>