<link rel="stylesheet" href="/css/video/agregar.css"><!--/css/capacitacion/agregarcapa.css-->

   <!-- crud-->
   <div id="container">

    <form action="/tipoCapacitacion/agregar/{{user.id_usuario}}" method="post">

        <div id="titulo">
            <h3 >Agregar tipo de capacitaci贸n</h3>
        </div>

        <div id="nombres">
            <label >Nombre de capacitacion:</label>
            <input type="text" name="nombre" required placeholder="Nombre de la capacitaci贸n" />
        </div>

        <div id="estado">
            <label >Descripci贸n:</label>
            <input type="text" name="estado" required placeholder="ingrese la debida descripci贸n" />
        </div>

        <div id="boton">
            <button type="submit" id="">Guardar</button>
        </div>

    </form>