<link rel="stylesheet" href="/css/tipoCapa/agregarcapa.css">
<div id="container">
    
    <form action="/tipoCapacitacion/agregar/{{user.id_usuario}}" method="post">
    <div id="titulo">
        <p>Agregar Tipo de Capacitacion</p>
    </div>
    <div id="nombres">
        <label>Nombre de Capacitacion:</label>
        <input type="text" name="nombre"required>
    </div>
     <div id="estado">
        <label>Estado:</label>
        <input type="text" name="estado"required>
    </div>
     
    <div id="boton">
    <button type="submit" id="">Guardar</button>
    </div>
   </form>