<link rel="stylesheet" href="/css/capacitacion/editarcapa.css"><!--/css/capacitacion/editarcapa.css-->

<!-- agregar - editar - boton -->

   <div id="container">
        {{#each lista}}

            <form action="/tipoCapacitacion/editar/{{id_tipoCapacitacion}}" method="post">

                <div id="titulo">
                    <h3 >Agregar Capacitaci贸n</h3>
                </div>

                <div id="nombre">
                    <label >Nombre de la capacitacion:</label>
                    <input type="text" name="nombre"  value="{{nombre}}" required placeholder="Nombre de la capacitaci贸n" />
                </div>

                <div id="descripcion">
                    <label >Descripci贸n:</label>
                    <input type="text" name="estado" value="{{descripcion}}" required placeholder="ingrese la debida descripci贸n" />
                </div>
                <!-- boton de actualizar -->
                <div id="boton">
                    <button type="submit">Actualizar</button>
                </div>
            </form>
        {{/each }}
    </div>