<link rel="stylesheet" href="/css/video/listar.css" /> 
 
<form action="/tipoCapacitacion/listar/" method="get"> 
    <div id="container"> 
 
        <div class="row"> 
            {{#each lista}} 
 
            <div id="nombre"> 
                <h3 style="text-align:center">DESCRIPCIÓN - TIPO CAPACITACIÓN</h3> 
                <p><strong>Nombre</strong><br>{{nombre}}</p> 
            </div> 
 
            <br> 
 
            <div id="estado"> 
                <p><strong>Estado</strong><br>{{estado}}</p> 
            </div> 
 
            <br> 
 
            <div id="boton"> 
                <div id="editar"> 
                    <a href="/tipoCapacitacion/editar/{{id_tipoCapacitacion}}"><button type="button">Editar</button></a> 
                </div> 
                <br> 
 
                <div id="eliminar"> 
                    <a href="/tipoCapacitacion/eliminar/{{id_tipoCapacitacion}}"><button 
                            type="button">Eliminar</button></a> 
                </div> 
            </div> 
            <br><br> 
 
            {{/each }} 
        </div> 
    </div> 
</form>
