<link rel="stylesheet" href="/css/video/agregar.css">
<div id="container__iniciar__session">

    <form action="/respuestaComentario/agregar/{{user.id_usuario}}" method="post">

        <div id="titulo">
            <h3>Respuesta del Comentario</h3>
        </div>

        <div id="creacionrespuestaComentario">
            <label>Respuesta del comentario:</label>
            <input type="text" name="creacionrespuestaComentario" required
                placeholder="ingrese la respuesta del comentario" />
        </div>

        <div id="actualizarrespuestaComentario">
            <label>Actualiza la respuesta del comentario:</label>
            <input type="text" name="actualizarrespuestaComentario" required
                placeholder="ingrese el nuevo comentario" />
        </div>

        <div id="boton">
            <button type="submit" id="">Guardar</button>
        </div>

    </form>