<link rel="stylesheet" href="/css/video/agregar.css">
<div id="container_iniciar_session">

    <form action="/respuestaComentario/agregar/{{user.id_usuario}}" method="post">

        <div id="titulo">
            <h3>Agregar Respuesta al Comentario </h3>
        </div>

        <div id="respuesta">
            <label>Agrega respuesta al comentario:</label>

            <input type="text" name="respuesta" required>
        </div>

        <div id="boton">
            <button type="submit" id="">Guardar</button>
        </div>

    </form>