<link rel="stylesheet" href="/css/video/listar.css" />
<form action="/respuestaComentario/listar/{{user.id_usuario}}" method="get">
    <div id="container">

        <div id="container">
            <div class="row">
                {{#each lista}}
                <div id="respuesta">
                    <h3 style="text-align:center" >RESPUESTAS - TABLA</h3>
                    <p>{{respuesta}}</p>
                </div>
                <div id="boton">
                    <a href="/respuestaComentario/editar/{{id_respuestaComentario}}"><button
                            type="button">Editar</button></a>
                </div>

                <div id="eliminar">
                    <a href="/respuestaComentario/eliminar/{{id_respuestaComentario}}"><button
                            type="button">Eliminar</button></a>
                </div>

                <br><br>

                {{/each }}

            </div>
</form>