<link rel="stylesheet" href="/css/video/editar.css">
<div id="contenedor">

    {{#each lista}}
    <form action="/comentario/editar/{{id_comentario}}" method="post">
        <div id="titulo">
            <h2>Editar comentario</h2>
        </div>
        <div id="comentario">
            <label>Edita el comentario:</label>
            <input type="text" name="comentario" value="{{comentario}}" required placeholder="Ingrese el comentario.">
        </div>

        <div id="fecha_puclicacion">
            <label>Fecha del Comentario:</label>
            <input id="fechas" type="text"  readonly name="fecha_puclicacion" value="{{fecha_puclicacion}}" required placeholder="Ingrese la fecha.">
        </div>
        <div id="boton">
            <button type="submit">Actualizar</button>
        </div>
    </form>
    {{/each}}
</div>

<script src="/js/fecha.js"></script>