<link rel="stylesheet" href="/css/video/editar.css">
    <div id="contenedor">
        {{#each lista}}

            <form action="/subclasificacion/editar/{{id_subclasificacion}}" method="post">
                <div id="titulo">
                    <h2>Actualizar Sub - clasificaci贸n</h2>
                </div>
                <div id="nombre">
                    <label>Nombre de la Sub - clasificaci贸n</label>
                    <input type="text" name="nombre" value="{{nombre}}" required placeholder="Ingrese el nombre.">
                </div>
                <div id="detalle">
                    <label>Descripcion de la Sub - clasificaci贸n</label>
                    <input type="text" name="detalle" value="{{detalle}}" required placeholder="Ingrese la descripci贸n." >
                </div>
                <div id="boton">
                    <button type="submit">Actualizar</button>
                </div>
                
            </form>
        {{/each}}
    </div>