<link rel="stylesheet" href="/css/video/agregar.css">

<div id="contenedor">
    <form action="/video/agregar/{{user.id_usuario}}" method="post">
    <div id="titulo">
        <p>Agregar URL</p>
    </div>
    <div id="url">
        <label>Url del video:</label>
<<<<<<< HEAD
        <input type="text" name="url" required placeholder="ingrese">
    </div>
    <div id="descripcion">
        <label>Descripcion del video:</label>
        <input type="text" name="descripcion" required placeholder="ingrese">
=======
        <input type="text" name="url" required>
    </div>
    <div id="descripcion">
        <label>Descripcion del video:</label>
        <input type="text" name="descripcion" required>
>>>>>>> 146f9ff5868e7f52a8ec831926dfa61c5d56b261
    </div>

    <div id="titulo">
        <label>Titulo del video:</label>
<<<<<<< HEAD
        <input type="text" name="titulo" required placeholder="ingrese">
=======
        <input type="text" name="titulo" required>
>>>>>>> 146f9ff5868e7f52a8ec831926dfa61c5d56b261
    </div>

    <div id="descripcion">
        <label>Tipo de video:</label>
<<<<<<< HEAD
        <input type="text" name="tipo" required placeholder="ingrese">
=======
        <input type="text" name="tipo" required>
>>>>>>> 146f9ff5868e7f52a8ec831926dfa61c5d56b261
    </div>

    <div id="boton">
        <button type="submit">GUARDAR</button>
    </div>
    </form>
</div>