<link rel="stylesheet" href="/css/nav/nav.js">
<header id="nav_int">
    <div id="menu">
        <h2 id="title_nav">Kid Helped</h2>
        <nav>
            <ul>
                <li><a href="">videos</a></li>
                <li><a href="">actividades</a></li>
                <li><a href=""> Perfil</a></li>
                <li><a href=""> Comentario</a></li>
            </ul>
        </nav>
    </div>
</header>