<link rel="stylesheet" href="/css/nav/nav.js">
<header id="nav_int">
    <div id="menu">
        <h2 id="title_nav">Kid Helped</h2>
        <nav>
            <ul>
                <li><a href="/principal">inicio</a></li>
                <li><a href="/actividades/:id">actividades</a></li>
                <li><a href="/tipo"> Perfil</a></li>
                <li><a href="/comentario/agregar/:id"> Comentario</a></li>
            </ul>
        </nav>
    </div>
</header>