<link rel="stylesheet" href="/css/objetivo/editar.css">
<div id="contenedor">
    {{#each lista}}
    <form action="/objetivo/editar/{{id_objetivo}}" method="post">
    <div id="titulo">
        <p>Agrega el objetivo</p>
    </div>
    <div id="objetivos">
        <label>Objetivos:</label>
        <input type="text" name="objetivo" value="{{objetivo}}" required  placeholder=" ingrese">
    </div>
    <div id="redesSociales">
        <label>RedesSociales:</label>
        <input type="text" name=" redesSociales" value="{{redesSociales}}" required  placeholder=" ingrese">
    </div>

    <div id="boton">
        <button type="submit">Actualizar</button>
    </div>
    </form>
    {{/each}}
</div>