<link rel="stylesheet" href="/css/principal/principal.css">

<header id="nav_int">
    <div id="menu">
        <h2 id="title_nav">Kid Helped</h2>
        <nav>
            <ul>
                <li><a href="">videos</a></li>
                <li><a href="">actividades</a></li>
                <li><a href=""> Perfil</a></li>
                <li><a href=""> Comentario</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
<body id="body">
 <section id="service">
        <div id="container">
            <h2 id="subtitle-a">Diviertete con estas actividades<span id="point">.</span></h2>
            <p id="copy__section-a">Te ofrecemos pasar un tiempo entretenido</p>

            <article id="container-cards">
                <div id="card">
                    <img src="./img/imagenes/diferente.jpg" {{url_imagen}}id="card__img">
                    <div id="cards__text">
                        <p id="card__list">Actividad para el deficit de atencion </p>
                        <h3 id="card__title">Encuentra las diferencias<span id="point">.</span></h3>
                        <p id="cards__copyy">Encontrar las diferencias es un excelente ejercicio para el refuerzo y
                            desarrollo de las habilidades mentales </p>
                        <a target="_blank" href="http://es.hellokids.com/r_1547/juegos-gratuitos/buscar-las-diferencias"
                            id="card__button">Vamos a la actividad!!</a>
                    </div>
                </div>
                <div id="card">
                    <img src="./img/imagenes/sopa.jpg" id="card__img">
                    <div id="cards__text">
                        <p id="card__list">Actividad para la dislexia</p>
                        <h3 id="card__title">Sopa de letras<span id="point">.</span></h3>
                        <p id="cards__copyy">Los rompecabezas de palabras y sopas de letras son de vital importancia
                            para el rendimiento escolar y diario del niño, ya que generan la habilidad para crear
                            estrategias espontaneas.</p>
                        <a target="_blank" href="https://juegosinfantiles.bosquedefantasias.com/sopas-letras"
                            id="card__button">Vamos a la actividad!!</a>
                    </div>
                </div>
                <div id="card">
                    <img src="./img/imagenes/Matematica.jpg" id="card__img">
                    <div id="cards__text">
                        <p id="card__list">Actividades para aprender matematicas </p>
                        <h3 id="card__title">Variado<span id="point">.</span></h3>
                        <p id="cards__copyy">Las matematicas son fundamentales para el desarrollo intelectual de los
                            niños, les ayuda a ser logicos, a razonar ordenadamente y a tener una mente preparada para
                            el pensamiento, la critica y la abstraccion.</p>
                        <a target="_blank"
                            href="https://www.mundoprimaria.com/juegos-educativos/juegos-matematicas/geometria/geo-quinto"
                            id="card__button">Vamos a la actividad!!</a>
                    </div>
                </div>
                <div id="card">
                    <img src="./img/imagenes/laberinto.jpg" id="card__img">
                    <div id="cards__text">
                        <p id="card__list">Actividades para la disgrafia </p>
                        <h3 id="card__title">Laberintos didacticos<span id="point">.</span></h3>
                        <p id="cards__copyy"> Con los laberintos se puede observar su percepcion espacial, su rapidez
                            de aprendizaje, su capacidad para la toma de decisiones, su ejecutiva y habilidad, si se lo
                            pasa bien con este tipo de actividades o no, etc.</p>
                        <a target="_blank" href="https://www.juegosinfantilespum.com/laberintos-online/index.php"
                            id="card__button">Vamos a la actividad!!</a>
                    </div>
                </div>
                <div id="card">
                    <img src="./img/imagenes/memoria.jpg" id="card__img">
                    <div id="cards__text">
                        <p id="card__list">Actividades Memorama </p>
                        <h3 id="card__title">Encuentra la pareja<span id="point">.</span></h3>
                        <p id="cards__copyy">Los juegos de memoria son muy factibles ya que entrenan la memoria
                            visual,potencian las habilidades cognitivas,mejora la concentracion,aumenta la memoria a
                            corto plazo,etc.</p>
                        <a target="_blank" href="https://www.memo-juegos.com/juegos-de-memoria-online/ninos"
                            id="card__button">Vamos a la actividad!!</a>
                    </div>
                </div>
                <div id="card">
                    <img src="./img/imagenes/pintar.jpg" id="card__img">
                    <div id="cards__text">
                        <p id="card__list">Actividades para la discapacidad intelectual</p>
                        <h3 id="card__title">Pintar y colorear<span id="point">.</span></h3>
                        <p id="cards__copyy">El gran beneficio de colorear es que los niños aprenden mientras se
                            divierten. Es una actividad muy divertida con la que el tiempo pasa volando. La combinacion
                            de color y adhesivos desarrolla la creatividad, favorece la concentracion y mejora la
                            motricidad de forma divertida.</p>
                        <a target="_blank" href="https://www.colorear-online.com/colorear-princesas/index.php"
                            id="card__button">Vamos a la actividad!!</a>
                    </div>
                </div>
            </article>
        </div>
    </section>   
</body>
    
    <!-- Aqui empieza los videos tutoriales-->
    <section id="container">
        <h2 id="subtitle-v">Videos didacticos<span id="point">.</span></h2>
        <p id="copy__section-v">Aqui encontraras videos con diferentes actividades,mira y diviertete</p>
        <article id="container-bg">
            <div id="card">

                <div id="cards__text">
                    <h3 id="card__title">Encuentra las diferencias<span id="point">.</span></h3>
                    <p id="card__date">Actividad para el deficit de atencion</p>
                    <p id="cards__copyy">Encontrar las diferencias es un excelente ejercicio para el refuerzo y
                        desarrollo de las habilidades mentales</p>
                    <a target="_blank" href="https://www.youtube.com/watch?v=irHvkLZ3Hws" id="card__button">Vamos al
                        Video!!</a>
                </div>
            </div>
            <div id="background">
                <img src="./img/imagenes/diferencia3.jpg" id="background__img">

            </div>
            <div id="card">

                <div id="cards__text">
                    <h3 id="card__title">Sopa de letras<span id="point">.</span></h3>
                    <p id="card__date">Actividad para la dislexia </p>
                    <p id="cards__copyy">Las sopas de letras son de vital importancia para el rendimiento escolar y
                        diario del niño, ya que generan la habilidad para crear estrategias espontaneas</p>
                    <a target="_blank" href="https://youtu.be/7UCy3TGSN4U" id="card__button">Vamos al video!!</a>
                </div>
            </div>
            <div id="background">
                <img src="./img/imagenes/sopa2.jpg" id="background__img">

            </div>
            <div id="card">

                <div id="cards__text">
                    <h3 id="card__title">Suma y resta<span id="point">.</span></h3>
                    <p id="card__date">Actividades para aprender matematicas</p>
                    <p id="cards__copyy">Las matematicas son fundamentales para el desarrollo intelectual de los
                        niños, les ayuda a ser logicos, a razonar ordenadamente y a tener una mente preparada para el
                        pensamiento, la critica y la abstraccion</p>
                    <a target="_blank" href="https://www.youtube.com/watch?v=2Iy92z6WOqI" id="card__button">Vamos al
                        video!!</a>
                </div>
            </div>
            <div id="background">
                <img src="./img/imagenes/suma.jpg" id="background__img">

            </div>
            <div id="card">

                <div id="cards__text">
                    <h3 id="card__title">Laberintos<span id="point">.</span></h3>
                    <p id="card__date">Actividades para la disgrafia </p>
                    <p id="cards__copyy">Con los laberintos se puede observar su percepcion espacial, su rapidez de
                        aprendizaje, su capacidad para la toma de decisiones, su ejecutiva y habilidad, si se lo pasa
                        bien con este tipo de actividades o no,etc</p>
                    <a target="_blank" href="https://www.youtube.com/watch?v=JsVHuff68VM" id="card__button">Vamos al
                        video!!</a>
                </div>
            </div>
            <div id="background">
                <img src="./img/imagenes/laberinto2.jpg" id="background__img">

            </div>

            <div id="card">

                <div id="cards__text">
                    <h3 id="card__title">Memoria<span id="point">.</span></h3>
                    <p id="card__date">Actividades Memorama </p>
                    <p id="cards__copyy">Los juegos de memoria son muy factibles ya que entrenan la memoria
                        visual,potencian las habilidades cognitivas,mejora la concentracion,aumenta la memoria a corto
                        plazo,etc.</p>
                    <a target="_blank" href="https://www.youtube.com/watch?v=9__168bBW_c" id="card__button">Vamos al
                        video!!</a>
                </div>
            </div>
            <div id="background">
                <img src="./img/imagenes/memoria2.jpg" id="background__img">
                <div id="background__text">

                </div>
            </div>
            <div id="card">

                <div id="cards__text">
                    <h3 id="card__title">Escucha<span id="point">.</span></h3>
                    <p id="card__date">Actividades para la discapacidad intelectual</p>
                    <p id="cards__copyy">Esta actividad de oir y adivinar el nombre del animal que lo produce es una
                        gran actividad para niños con problemas intelectuales ya que nos solo refuerza la capacidad
                        auditiva sino que tmabien la parte visual y la memoria</p>
                    <a target="_blank" href="https://www.youtube.com/watch?v=p6uzxgPmKy4" id="card__button">Vamos al
                        video!!</a>
                </div>
            </div>
            <div id="background">
                <img src="./img/imagenes/escucha3.jpg" id="background__img">


        </article>
    </section>
   <section id="testimonios" id="testimony">
	      <div id="container" id="P">
         <h2 id="subtitle">Actividades para tus hijos<span id="point">.</span></h2>
        <p id="copy__section">las mas favorables en resultados</p>
        <div id="testimonios-container">
        	<div id="testimonios__card">
        	<img src="imagenes/game.jpg" id="testimonios__img">
          <div id="testimonios__copy">
          <i class='bx bxl-google'></i>
           <div id="testimonios__info">
            	<h3 id="testimonios__name">Dibujar y pintar</h3>
            	<p id="testimonios__position">Se recomienda que se lo realize 100% a mano</p>
            </div>
          </div>	
        	</div>
        	<div id="testimonios__card" class="">
        	<img src="imagenes/kid2.jpg" id="testimonios__img">
          <div id="testimonios__copy">
            <i id='bx bxl-apple'></i>
            <div id="testimonios__info">
            	<h3 id="testimonios__name">Colocar las letras</h3>
            	<p id="testimonios__position">Actividad mas recomendada a nivel didactico</p>
            </div>
          </div>	
        	</div>
            <div id="testimonios__card" class="">
        	<img src="imagenes/kid2.jpg" id="testimonios__img">
          <div id="testimonios__copy">
            <i id='bx bxl-apple'></i>
            <div id="testimonios__info">
            	<h3 id="testimonios__name">Rompecabezas </h3>
            	<p id="testimonios__position">Actividad mas recomendada a nivel de memoria</p>
            </div>
          </div>	
        	</div>
         

        </div>
      </div>

   
</main>