<link rel="stylesheet" href="/css/video/agregar.css">

<div id="contenedor">
    <form action="/videoActividad/agregar/{{user.id_usuario}}" method="post">
        <div id="titulo">
            <h3>Agregar URL</h3>
        </div>
        <div id="url">
            <label>Url del video:</label>
            <input type="text" name="url" required placeholder=" Ingrese Url">
        </div>
        <div id="descripcion">
            <label>Descripcion del video:</label>
            <input type="text" name="descripcion" required placeholder="ngrese la descrpcion del video">
        </div>

        <div id="titulo">
            <label>Titulo del video:</label>
            <input type="text" name="titulo" required placeholder="Ingrese el titulo del video">
        </div>

        <div id="descripcion">
            <label>Tipo de video:</label>
            <input type="text" name="tipo" required placeholder="Ingrese el tipo de video">
        </div>

        <div id="boton">
            <button type="submit">GUARDAR</button>
        </div>
    </form>
</div>