<link rel="stylesheet" href="/css/video/agregar.css">

<div id="contenedor">
    <form action="/videoActividad/agregar/{{user.id_usuario}}" method="post">
        <div id="titulo">
            <p>Agregar URL</p>
        </div>
        <div id="url">
            <label>Url del video:</label>
            <input type="text" name="url" required placeholder=" ingrese">
        </div>
        <div id="descripcion">
            <label>Descripcion del video:</label>
            <input type="text" name="descripcion" required placeholder=" ingrese">
        </div>

        <div id="titulo">
            <label>Titulo del video:</label>
            <input type="text" name="titulo" required placeholder=" ingrese">
        </div>

        <div id="descripcion">
            <label>Tipo de video:</label>
            <input type="text" name="tipo" required placeholder=" ingrese">
        </div>

        <div id="boton">
            <button type="submit">GUARDAR</button>
        </div>
    </form>
</div>