{{!<link rel="stylesheet" href="/css/login/login.css">}}

<div class="container">
  <!-- parte principal -->
  <div class="container__juego">

    <h1 class="tittle__Game">KiD-HELPED</h1>

    <div id="container__iniciar__session">
      <h1>Inicia Sesión</h1>
      <form id="form_container_id" action="/login" method="POST">

        <div id="nickname">
          <label>Apodo:</label>
          <input type="text" name="username" id="" required />
        </div>

        <div id="password">
          <label>Contraseña:</label>
          <input type="password" name="password" id="" required />
        </div>

        <div id="button">
          <button type="submit">Guardar</button>
        </div>
      </form>
      <button
        onclick="registrarse()"
        class="btn__Registrarse"
      >Registrarse</button>
    </div>

  </div>
</div>