{!<link rel="stylesheet" href="/css/login/login.css">}

    <div id="container__iniciar__session">
      <div class="background">
          <div class="shape"></div>
          <div class="shape"></div>
      </div>
      <form>
          <h3> 
            KiD-HELPED
            <br>
            Iniciar Sesion
          </h3>
          <form id="form_container_id" action="/login" method="POST">

          <div id="nickname">
          <label for="username">Apodo</label>
            <input type="text" name="username" id="" required />
          </div>

          <div id="password">
          <label for="password">Contraseña</label>
          <input type="password" name="password" id="" required />
          </div>

          <div id="button">
          <button type="submit" >Guardar</button>
          </div>
          <button onclick="registrarse()" class="btn__Registrarse">Registrarse</button>
          </form>

    </div>

    </form>
