<link rel="stylesheet" href="/css/login/login.css" />

<div id="container__iniciar__session">


  <form id="form_container_id" action="/login" method="POST">
    <h3>
      KiD-HELPED
      <br />
      Iniciar Sesion
    </h3>
    <div id="nickname">
      <label for="username">Apodo</label>
      <input type="text" name="username" id="" required placeholder="Ingrese su apodo" />
    </div>

    <div id="password">
      <label for="password">Contraseña</label>
      <input type="password" name="password" id="" required placeholder="Ingrese su contraseña" />
    </div>

    <div id="button">
      <button type="submit">iniciar sesion</button>
    </div>

    <a href="/registro">
      <button type="button"> Registro</button>
    </a>

  </form>
</div>
