<link rel="stylesheet" href="/css/registro/registro.css" />

<!-- nuevo registro-->
<div id="container">
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form action="/registro" method="post">
    <div id="title">
      <h2>Registro de usuario</h2>
    </div>
    <div id="name">
      <label>Nombres</label>
      <input type="text" name="nombreUsuario" id="" required placeholder="Ingrese su nombre." />
    </div>

    <div id="lastname">
      <label> Apellido</label>
      <input
        type="text"
        name="apellidoUsuario"
        id=""
        required
        placeholder="Ingrese su apellido"
      />
    </div>

    <div id="email">
      <label>Email</label>
      <input type="email" name="correoUsuario" id="" required placeholder="Ingrese su email." />
    </div>

    <div id="nickname">
      <label>Apodo</label>
      <input type="text" name="username" id="" required placeholder="Ingrese su apodo." />
    </div>

    <div id="password">
      <label>Contraseña</label>
      <input
        type="password"
        name="password"
        id=""
        required
        placeholder="Ingrese su contraseña."
      />
    </div>

    <a href="/login">
      <div id="button">
        <button type="submit">Guardar</button>
      </div></a>
  </form>
</div>