<link rel="stylesheet" href="/css/registro/registro.css">

<!-- nuevo registro-->
<div id="container">
         <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
        <form action="/registro" method="post">
   <div id="title">
        <h3>Registro de usuario</h3>
    </div>
    <div id="name">
        <label>Nombres:</label>
        <input type="text" name="nombreUsuario" id="" required placeholder="ingrese su nombre">
    </div>

    <div id="lastname">
        <label> Apellido:</label>
        <input type="text" name="apellidoUsuario" id=""required placeholder="ingrese su apellido">
    </div>

    <div id="email">
        <label>Email:</label>
        <input type="email" name="correoUsuario" id="" required placeholder="ingrese su email">
    </div>

    <div id="nickname">
        <label>Apodo:</label>
        <input type="text" name="username" id="" required placeholder="apodo">
    </div>

    <div id="password">
        <label>Contraseña: </label>
        <input type="password" name="password" id="" required placeholder="ingrese su contraseña">
    </div>

    <div id="button">
        <button type="submit">Guardar</button>    
    </div>
    </form>
</div>
