<link rel="stylesheet" href="/css/registro/registro.css">
<div id="container">
    <form action="/registro" method="post">
    <div id="title">
        <h1>Registro de usuario</h1>
    </div>

    <div id="name">
        <label>Nombres:</label>
        <input type="text" name="nombreUsuario" id="" required>
    </div>

    <div id="lastname">
        <label> Apellido:</label>
        <input type="text" name="apellidoUsuario" id=""required>
    </div>

    <div id="email">
        <label>Email:</label>
        <input type="email" name="correoUsuario" id="" required>
    </div>

    <div id="nickname">
        <label>Apodo:</label>
        <input type="text" name="username" id="" required>
    </div>

    <div id="password">
        <label>Contraseña:</label>
        <input type="password" name="password" id="" required>
    </div>

    <div id="button">
        <button type="submit">Guardar</button>    
    </div>
    </form>
</div>