<link rel="stylesheet" href="/css/video/agregar.css">
<div id="container">
    <form action="/actividad/agregar/{{user.id_usuario}}" method="post">
        <div id="titulo">
            <h3>Nuevas Actividades</h3>
        </div>
        <div id="nombreActividad">
            <label>Nombre de la Actividad:</label>

            <input type="text" name="nombreActividad" required placeholder="Ingrese nombre de actividad.">
        </div>

        <div id="descripcion">
            <label>Agrega la descripcion de la actividad:</label>
            <input type="text" name="descripcion" required placeholder="Ingrese la actividad.">
        </div>

        <div id="urlActividad">
            <label>Agregar Imagen de la actividad:</label>
            <input type="text" name="urlActividad" required placeholder="Ingrese la url de actividad.">
        </div>

        <div id="boton">
            <button type="submit" id="">Guardar</button>
        </div>
    </form>