<link rel="stylesheet" href="/css/comentario/comentario.css">

<!-- crud-->
<div id="container__iniciar__session">

    <form action="/comentario/agregar/{{user.id_cliente}}" method="post">

        <div id="titulo">
            <h3>Agregar Comentario </h3>
        </div>

        <div id="comentario">
            <label>Agrega comentario:</label>
            <input type="text" name="comentario" required placeholder="agrege comentario">
        </div>

        <div id="fecha_puclicacion">
            <label>Fecha de publicacion:</label>
            <input id="fechas" type="text" readonly name="fecha_puclicacion" required placeholder="fecha">
        </div>

        <div id="boton">
            <button type="submit" id="">Guardar</button>
        </div>

    </form>

    <script src="/js/fecha.js"></script>