<link rel="stylesheet" href="/css/comentario/comentario.css">

<!-- crud-->
   <div id="container__iniciar__session">

    <form action="/comentario/agregar/{{user.id_cliente}}" method="post">

        <div id="titulo">
            <h3 >Agregar un Comentario</h3>
        </div>

        <div id="comentario">
            <label >Comentario</label>
            <input type="text" name="comentario" required placeholder="Ingrese el comentario" />
        </div>

        <div id="fecha_publicacion">
            <label >Fecha publicacion</label>
            <input id="fechas" readonly name="fecha_publicacion" required/>
        </div>

        <div id="boton">
            <button type="submit" id="">Comentar</button>
        </div>

    </form>

<script src="/js/fecha.js"></script>