<link rel="stylesheet" href="/css/comentario/comentario.css" />
<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      KiD-HELPED
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a href="" target="_blank">Comentarios</a>
    <a href="" target="_blank">Adultos Mayores</a>
    <a href="" target="_blank">Videos</a>
    <a href="" target="_blank">Actividades</a>
    <a href="/login" target="_blank">Cerrar Sesion</a>
  </div>
</div>

</div>
<div class="container">
  <div class="conter">
    <h3>
      KiD-HELPED
      <br />
      Seccion de comentario
    </h3>
    <form class="form_comentario" action="#" method="POST">
      <div class="campo_comentario">
        <label for="comentario">Comentario</label>
        <textarea id="comentario" required></textarea>
      </div>
      <div class="button-btn">
        <button type="submit">Comentar</button>
      </div>
    </form>
    </div>
</div>
