<link rel="stylesheet" href="/css/comentario/editarcomentario.css">


<body>
    <!-- agregar - editar - boton -->
    {{#each lista}}
    <form action="/comentario/editar/{{id_comentario}}" method="post">
        <div id="titulo">
            <h2>Editar comentario</h2>
        </div>
        <div id="comentario">
            <label>Edita el comentario:</label>
            <input type="text" name="comentario" value="{{comentario}}" required>
        </div>

        <div id="fecha_puclicacion">
            <label>Fecha del Comentario:</label>
            <input id="fechas" type="text" readonly name="fecha_puclicacion" value="{{fecha_puclicacion}}" required>
        </div>
        <div id="boton">
            <button type="submit">Actualizar</button>
        </div>
    </form>
    {{/each}}
    </div>

</body>
<script src="/js/fecha.js"></script>