<link rel="stylesheet" href="/css/puntuacion/puntuacion.css" />
{{> nav}}

<body>
    <h1 id="titulo">Actividades Realizadas</h1>
    <form action="/actividad/listar" method="get">
        <div class="row">
            <div id="contenido">
                {{#each lista}}
                <div id="articulos">
                    <div id="secciones">
                        <div>
                            <h2>{{nombreActividad}} </h2>
                            <h3>{{descripcion}}</h3>
                        </div>
                        <div><img src="/img/img/diferencia3.jpg" alt=""></div>
                    </div>
                </div>
                <div id="container">
                    <div>
                        <button id="progress-bar">progreso</button>
                    </div>
                    <span id="progreso">Puntuacion</span>
                </div>
                {{/each }}
            </div>
        </div>
    </form>
</body>