<link rel="stylesheet" href="/css/puntuacion/puntuacion.css" />
<header id="nav_int">
    <div id="menu">
        <h2 id="title">Kid Helped</h2>
        <nav>
            <ul>
                <li><a href=""> Perfil</a></li>
                <li><a href=""> Comentario</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
    <h1 id="titulo">Actividades Realizadas</h1>
    <div id="contenido">
        <div id="articulos">
            <div id="secciones">
                <div>
                    <h2>Titulo de la actividad </h2>
                    <h3>descripcion: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt repellendus quae quia
                        libero corrupti magni minima, vero in tenetur cupiditate praesentium delectus illum dolore
                        officia incidunt sint sit. Quo, omnis.</h3>
                </div>
                <div><img src="img/imagenes_puntuacion/rompe_cabezas.jpg" alt=""></div>
            </div>
        </div>
        <div id="container">
            <div id="progress-bar">
                <div id="progress"></div>
            </div>
            <span id="progreso">Progreso</span>
            {{!<script src="/css/puntuacion/porcentaje/puntuacion.porcentaje.js"></script>}}
        </div>
    </div>
    <div id="contenido">
        <div id="articulos">
            <div id="secciones">
                <div>
                    <h2>Titulo de la actividad </h2>
                    <h3>descripcion: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt repellendus quae quia
                        libero corrupti magni minima, vero in tenetur cupiditate praesentium delectus illum dolore
                        officia incidunt sint sit. Quo, omnis.</h3>
                </div>
                <div><img src="img/imagenes_puntuacion/rompe_cabezas.jpg" alt=""></div>
            </div>
        </div>
        <div id="container">
            <div id="progress-bar">
                <div id="progress"></div>
            </div>
            <span id="progreso">Progreso</span>
            {{!<script src="/css/puntuacion/porcentaje/puntuacion.porcentaje.js"></script>}}
        </div>
    </div>
    <div id="contenido">
        <div id="articulos">
            <div id="secciones">
                <div>
                    <h2>Titulo de la actividad </h2>
                    <h3>descripcion: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt repellendus quae quia
                        libero corrupti magni minima, vero in tenetur cupiditate praesentium delectus illum dolore
                        officia incidunt sint sit. Quo, omnis.</h3>
                </div>
                <div><img src="img/imagenes_puntuacion/rompe_cabezas.jpg" alt=""></div>
            </div>
        </div>
        <div id="container">
            <div id="progress-bar">
                <div id="progress"></div>
            </div>
            <span id="progreso">Progreso</span>
            {{!<script src="/css/puntuacion/porcentaje/puntuacion.porcentaje.js"></script>}}
        </div>
    </div>
</body>