* {
    margin: 0px;
    padding: 0px;
}

#header {
    margin: auto;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    border-radius: 10%;
    align-items: center;
    width: 50%;
    height: 50%;
}

ul,
ol {
    list-style: none;
}

#nav>li {
    float: left;
}

#nav li a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

#nav li a:hover {
    background-color: #434343;
}

#nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

#nav li:hover>ul {
    display: block;
}

#nav li ul li {
    position: relative;
}

#nav li ul li ul {
    right: -140px;
    top: 0px;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    background: #de6161;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2657eb, #de6161);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2657eb, #de6161);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#slider {
    max-width: 1100px;
    display: flex;
}

#slider #card {
    flex: 1;
    margin: 0 10px;
    background: #fff;
}

#slider #card #img {
    height: 200px;
    width: 100%;
}

#slider #card #img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#slider #card #content {
    padding: 10px 20px;
}

#card #content #title {
    font-size: 25px;
    font-weight: 600;
}

#card #content #sub-title {
    font-size: 20px;
    font-weight: 600;
    color: #e74c3c;
    line-height: 20px;
}

#card #content p {
    text-align: justify;
    margin: 10px 0;
}