<link rel="stylesheet" href="/css/index.css">

<form action="/" method="post">
<!--
   <div id="contenedor">
        <body>
            <div id="header">
                <ul class="nav">
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Servicios</a>
                        <ul>
                            <li><a href="">Submenu1</a></li>
                            <li><a href="">Submenu2</a></li>
                            <li><a href="">Submenu3</a></li>
                            <li><a href="">Submenu4</a>
                                <ul>
                                    <li><a href="">Submenu1</a></li>
                                    <li><a href="">Submenu2</a></li>
                                    <li><a href="">Submenu3</a></li>
                                    <li><a href="">Submenu4</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="">Acerca de</a>
                        <ul>
                            <li><a href="">Submenu1</a></li>
                            <li><a href="">Submenu2</a></li>
                            <li><a href="">Submenu3</a></li>
                            <li><a href="">Submenu4</a></li>
                        </ul>
                    </li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </div>
        </body>

    </div>
    -->
<header class="header"><!--header-start-->
    <div class="logo">
      LOGO
    </div>
    <a href="#" class="nav_ico">
      <label for="menu_trigger">
      </label>
      <span></span>
      <span></span>
      <span></span>
    </a>
    
</header><!--header-end-->
<input type="radio" id="menu_trigger" name="menu_close">
<nav class="side_nav">
      <span class="close_icon">+
        <input type="radio" name="menu_close">
      </span>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </nav>

<div class="banner">
  <h1>Side Navigation <br> Only <span>HTML CSS</span></h1>
</div>

</body>
</form>